{% extends "layouts/master.njk" %}
{% set title = "Novinky" %}

{% block head_stylesheets %}
  <style>
    article {
      background-color: var(--blue-background-color);
      padding: 8px;
      border-radius: var(--corner-radius);

      display: grid;
      grid-auto-flow: row;
      align-content: start;
      gap: 4px;

      scroll-margin-block-start: 5em;
    }

    article img {
      width: 100%;
      height: auto;
      order: 1;
      border-radius: calc(var(--corner-radius) / 2);
    }

    article time {
      font-family: var(--accented-font);
      font-weight: 700;
      line-height: 1.2;
      z-index: 1;
      margin-top: 0.5em;
      order: 2;
    }

    article p {
      text-align: left;
      margin: 0.25em 0;
      order: 3;
    }

    article a {
      word-break: break-word;
    }

    article:target {
      border: 1px solid var(--accent3-color);
    }

    @supports not (grid-template-rows: masonry) {
      article.has-image {
        grid-row: span 2;
      }

      article.has-image.has-long-text {
        grid-row: span 3;
      }

      article.has-image.has-xlong-text {
        grid-row: span 4;
      }
    }

    .article-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-template-rows: auto;
      grid-template-rows: masonry;
      gap: 1em;
    }
  </style>
{% endblock %}

{% block content %}
  <main>
    <h2>Novinky</h2>
    <div class="article-list">
      {% for post in filterNews(news) %}
        {% set image = images[post.image] %}
        {% set metadata =  image.metadata %}
        <article id="{{ post.time }}"
                 class="{{ "has-image" if image }} {{ "has-long-text" if post.text.length > 200 }} {{ "has-xlong-text" if post.text.length > 400 }}">
          <time datetime="{{ post.time }}">{{ post.time | formatDate }}</time>
          {% if image %}
            <img alt="" width="{{ image.width }}" height="{{ image.height }}" loading="lazy"
                 style="{% if metadata.lqip %}--lqip:{{ metadata.lqip }}{% endif %}"
                 sizes="(min-width: 840px) 300px, 88.43vw"
                 src="{{ image["public_id"] | cloudinaryUrl() }}">
          {% endif %}
          {% markdown %}
            {{ post.text }}

            {% if post.likes %}Líbilo se&nbsp;
              <data value="{{ post.likes }}">{{ post.likes }}×</data>{{ "; " if post.comments }}{% endif %}
            {% if post.comments %}Okomentováno&nbsp;
              <data value="{{ post.comments }}">{{ post.comments }}×</data>{% endif %}

            <a href="{{ post.url }}" target="fb">Zapojte se do diskuse na Facebooku</a>
          {% endmarkdown %}
        </article>
      {% endfor %}
    </div>
  </main>
{% endblock %}
