{% extends 'layouts/master.njk' %}

{% block title %}Studnice fest 2024{% endblock %}

{% block head %}
  <meta name="description" content="{{ event.description }}">
  <meta property="fb:app_id" content="117540538260775">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ event.name }}">
  <meta property="og:description" content="{{ event.description }}">
{% endblock %}

{% block content %}
  <main>
    <header class="hero">
      <p>těšíme se na vystoupení</p>
      <ol>
        {% for key in event.artists %}
          {% set artist = artists[key] %}
          <li><a href="#{{ key }}">{{ artist.title }}</a></li>
        {% endfor %}
      </ol>
      <div><a href="https://goout.net/cs/listky/studnice-fest-2024/ayit/" class="cta">Koupit si vstupenky</a></div>
    </header>
    <section class="news-list">
      <header>
        <h2>Novinky</h2>
      </header>
      {% for post in news %}
        {% set image = images[post.image]["public_id"] %}
        {% if image %}
          <article>
            <a href="/novinky/#{{ post.time }}">
              <time datetime="{{ post.time }}">{{ formatDate(post.time) }}</time>
              <img alt="" loading="lazy" width="526" height="526" sizes="auto"
                   src="{{ image | cloudinaryUrl({ crop: 'crop', ar: 1.0, height: 'ih' }) }}">
            </a>
            {% markdown %}
              {{ processTypo(post.text.replace("#vidimesevlese", "").replace("#18vlese", "")) }}

              Líbilo se {{ post.likes }}×
            {% endmarkdown %}
          </article>
        {% endif %}
      {% endfor %}
      <a href="/novinky/" class="cta">Zobrazit všechny novinky</a>
    </section>
    <section>
      <header>
        <h2>Info</h2>
      </header>
    </section>
    <section class="artists-list">
      <header>
        <h2>Na 18. ročníku vystoupí</h2>
      </header>
      {% for key in event.artists %}
        {% set artist = artists[key] %}
        {% set image = images["artists/" + artist.image]["public_id"] %}
        {% set ts = timeslot(artist.filename.split(".").at(0), schedule) %}
        <article class="artists-list__item" id="{{ key }}">
          <h3>{{ artist.title }}</h3>
          <img src="{{ image | cloudinaryUrl() }}" alt="{{ artist.title }}" width="400" height="400" loading="lazy">
          <p>vystoupí v
            <time>{{ ts.day }} ve {{ ts.time }}</time>
          </p>
        </article>
      {% endfor %}
    </section>
    <section>
      <header>
        <h2>Vstupenky</h2>
      </header>
      <p>Vstupenky budou pravděpodobně dostupné i&nbsp;na místě, nicméně kapacita
        je omezená. Doporučujeme proto využít předprodeje na&nbsp;<a
          href="https://goout.net">GoOut.net</a>. V&nbsp;ceně vstupenky je i&nbsp;stanové
        městečko. Parkovací stání se platí zvlášť.</p>

      <div class="tickets__list">
        <div class="tickets__item tickets__item--disabled">
          <h3>2-denní</h3>
          <p>1.&nbsp;vlna vstupenek</p>
          <p>540&nbsp;Kč</p>
          <a href="" class="button">Vyprodáno</a>
        </div>
        <div class="tickets__item tickets__item--disabled">
          <h3>2-denní</h3>
          <p>2.&nbsp;vlna vstupenek</p>
          <p>640&nbsp;Kč</p>
          <a href="" class="button">Vyprodáno</a>
        </div>
        <div class="tickets__item  tickets__item--disabled">
          <h3>2-denní</h3>
          <p>3.&nbsp;vlna vstupenek</p>
          <p>740&nbsp;Kč</p>
          <a href="" class="button">Vyprodáno</a>
        </div>
        <div class="tickets__item">
          <h3>1-denní</h3>
          <p>4.&nbsp;vlna vstupenek</p>
          <p>690&nbsp;Kč</p>
          <a href="https://goout.net/cs/listky/studnice-fest-2024/ayit/" class="button">Koupit</a>
        </div>
        <div class="tickets__item">
          <h3>2-denní</h3>
          <p>4.&nbsp;vlna vstupenek</p>
          <p>790&nbsp;Kč</p>
          <a href="https://goout.net/cs/listky/studnice-fest-2024/ayit/" class="button">Koupit</a>
        </div>
        <div class="tickets__item tickets__item--onsite">
          <h3>Na místě</h3>
          <p>2-denní</p>
          <p>990&nbsp;Kč</p>
          <p>1-denní</p>
          <p>890&nbsp;Kč</p>
        </div>
      </div>

      <div class="tickets__free">
        <h3>Vstup zdarma</h3>
        <p>Děti do 150cm, obyvatelé Studnice a ZTP</p>
      </div>
    </section>
    <section class="lineup">
      <header>
        <h2>Časový harmonogram</h2>
      </header>
      <p>Hudební produkce bude probíhat na třech jevištích&nbsp;&ndash; hlavní stage,
        stage “Na Vyhlídce” a dětský&nbsp;stan.</p>
      <div class="lineup__days">
        <div>
          <h3>Pátek 26. 7.</h3>
          {% for item in schedule.friday %}
            <div class="lineup__item">
              <time datetime="2024-07-26T{{ item.time }}:00.000+02:00">{{ item.time }}</time>
              <em>{{ item.title }}</em>
              <small class="{{ item.stage }}">{{ event.stages[item.stage] }}</small>
            </div>
          {% endfor %}
        </div>
        <div>
          <h3>Sobota 27. 7.</h3>
          {% for item in schedule.saturday %}
            <div class="lineup__item">
              <time datetime="2024-07-27T{{ item.time }}:00.000+02:00">{{ item.time }}</time>
              <em>{{ item.title }} </em>
              <small class="{{ item.stage }}">{{ event.stages[item.stage] }}</small>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </main>

{% endblock %}

{% block javascript %}
{% endblock %}
