{% extends 'layouts/master.njk' %}
{% set bodyClass = "is-hp" %}
{% set bodySchema = "Festival" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
  <link rel="canonical" href="{{ meta.url }}">
  <meta name="description" content="{{ event.description }}">
  <meta property="fb:app_id" content="117540538260775">
  <meta property="og:type" content="website">
  <meta name="twitter:description" property="og:description" content="{{ event.description }}">
  <meta name="twitter:title" property="og:site_name" content="{{ event.name }}">
{% endblock %}

{% block content %}
  <div class="hero" id="header">
    <hgroup>
      <h2>18. ročník</h2>
      <p>#vidimesevlese</p>
    </hgroup>
    <section>
      <ol>
        {% for key in event.artists %}
          {% set artist = artists[key] %}
          <li><a href="#{{ key }}">{{ artist.title }}</a></li>
        {% endfor %}
      </ol>
      <div>
        <a href="{{ tickets.url }}" class="cta">Koupit si vstupenky</a>
      </div>
    </section>
  </div>
  <main>
    <section class="news-list" id="novinky">
      <header id="news">
        <h2>Novinky</h2>
      </header>
      {% for post in transducers.take(5, news) %}
        {% set image = images[post.image] %}
        <article>
          <a href="/novinky/#{{ post.time }}">
            <time datetime="{{ post.time }}">{{ formatDate(post.time) }}</time>
            {% if image %}
              <img alt="" width="462" height="462" loading="lazy" sizes="(min-width: 840px) 462px, 88.43vw"
                   src="{{ image["public_id"] | cloudinaryUrl({ crop: 'fill', ar: 1.0 }) }}">
            {% endif %}
          </a>
          {% markdown %}
            {{ processTypo(removeHashtags(post.text)) }}

            {% if post.likes %}Líbilo se&nbsp;
              <data value="{{ post.likes }}">{{ post.likes }}×</data>{% endif %}
          {% endmarkdown %}
        </article>
      {% endfor %}
      <a href="/novinky/" class="cta">Zobrazit všechny novinky</a>
    </section>
    <section id="informace-a-upozorneni">
      <header id="map">
        <h2>Důležité informace</h2>
      </header>
      <article>
        <p>Zajímá vás jak je to s&nbsp;dopravou, jídlem, placením a tak vůbec?
          Všechny důležité informace jsme pro vás sepsali na samostatné
          stránce.</p>
        <p>
          <a href="/informace/" class="cta">Chci to vidět</a>
        </p>
      </article>
    </section>
    <section class="artists-list" id="vystoupi">
      <header id="bands">
        <h2>Na 18. ročníku vystoupí</h2>
      </header>
      {% set tss = timeslots(schedule) %}
      {% for key in event.artists %}
        {% set artist = artists[key] %}
        {% set image = images["artists/" + artist.image]["public_id"] %}
        {% set ts = tss.get(artist.filename.split(".").at(0)) %}
        <article class="artists-list__item" id="{{ key }}">
          <h3>{{ artist.title }}</h3>
          <img src="{{ image | cloudinaryUrl() }}" alt="{{ artist.title }}" width="296" height="296" loading="lazy"
               sizes="(min-width: 840px) 296px, 88.43vw">
        </article>
      {% endfor %}
    </section>
    <section id="vstupenky">
      <a name="info"></a>
      <header>
        <h2>Vstupenky</h2>
      </header>
      <p>Vstupenky budou pravděpodobně dostupné i&nbsp;na místě, nicméně kapacita
        je omezená. Doporučujeme proto využít předprodeje na&nbsp;<a
          href="https://tickets.nfctron.com">NFCTron.cz</a>. V&nbsp;ceně vstupenky je i&nbsp;stanové
        městečko. Parkovací stání se platí zvlášť.</p>

      <div class="tickets__list">
        {% for wave, tickets in tickets.waves %}
          {% set isCurrentWave = tickets.currentWave == wave %}
          {% for ticket in tickets %}
            <div class="tickets__item {{ "tickets__item--disabled" if not isCurrentWave }}">
              <h3>{{ wave }}.&nbsp;vlna vstupenek</h3>
              <p>{{ ticket.days }}-denní</p>
              <p>{{ ticket.price }}&nbsp;Kč</p>
              {% if isCurrentWave %}
                <a href="{{ tickets.url }}" class="button">Koupit</a>
              {% else %}
                <a href="" class="button">Vyprodáno</a>
              {% endif %}
            </div>
          {% endfor %}
        {% endfor %}
        {#
        <div class="tickets__item tickets__item--disabled">
          <h3>2.&nbsp;vlna vstupenek</h3>
          <p>2-denní</p>
          <p>640&nbsp;Kč</p>
          <a href="" class="button">Vyprodáno</a>
        </div>
        <div class="tickets__item  tickets__item--disabled">
          <h3>3.&nbsp;vlna vstupenek</h3>
          <p>2-denní</p>
          <p>740&nbsp;Kč</p>
          <a href="" class="button">Vyprodáno</a>
        </div>
        <div class="tickets__item">
          <h3>4.&nbsp;vlna vstupenek</h3>
          <p>1-denní</p>
          <p>690&nbsp;Kč</p>
          <a href="https://goout.net/cs/listky/studnice-fest-2024/ayit/" class="button">Koupit</a>
        </div>
        <div class="tickets__item">
          <h3>4.&nbsp;vlna vstupenek</h3>
          <p>2-denní</p>
          <p>790&nbsp;Kč</p>
          <a href="https://goout.net/cs/listky/studnice-fest-2024/ayit/" class="button">Koupit</a>
        </div>
        <div class="tickets__item tickets__item--onsite">
          <h3>Na místě</h3>
          <p>1-denní</p>
          <p>850&nbsp;Kč</p>
          <p>2-denní</p>
          <p>990&nbsp;Kč</p>
        </div>
        #}
      </div>

      <div class="tickets__free">
        <h3>Vstup zdarma</h3>
        <p>Děti do 150cm, obyvatelé Studnice a ZTP</p>
      </div>
    </section>
    <section class="lineup" id="harmonogram">
      <header>
        <h2>Časový harmonogram</h2>
      </header>
      <p>Hudební produkce bude probíhat na třech jevištích&nbsp;&ndash; hlavní stage,
        stage „Na Vyhlídce“ a dětský&nbsp;stan.</p>
      <div class="lineup__days">
        <div>
          <h3>Pátek 26. 7.</h3>
          {% for item in schedule.friday %}
            <div class="lineup__item">
              <time datetime="2024-07-26T{{ item.time }}:00.000+02:00">{{ item.time }}</time>
              <strong>{{ item.title }}</strong>
              <small class="{{ item.stage }}">{{ event.stages[item.stage] }}</small>
            </div>
          {% endfor %}
        </div>
        <div>
          <h3>Sobota 27. 7.</h3>
          {% for item in schedule.saturday %}
            <div class="lineup__item">
              <time datetime="2024-07-27T{{ item.time }}:00.000+02:00">{{ item.time }}</time>
              <strong>{{ item.title }}</strong>
              <small class="{{ item.stage }}">{{ event.stages[item.stage] }}</small>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </main>
{% endblock %}
