{% extends 'layouts/master.njk' %}
{% set title = "Vstupenky" %}

{% block content %}
  <main>
    <section>
      <script src="https://partners.goout.net/framework/auto.js"
              id="goOutScript"
              type="text/javascript"
              data-contact="3134"
              data-sale="https://goout.net/cs/listky/studnice-fest-2024/ayit/">
      </script>
    </section>
  </main>
{% endblock %}
