@property --border-top-image {
  syntax: "<image>";
  inherits: true;
  initial-value: initial;
}

@property --border-bottom-image {
  syntax: "<image>";
  inherits: true;
  initial-value: initial;
}

@property --text-color {
  syntax: "<color>";
  inherits: true;
  initial-value: initial;
}

@property --logo-color {
  syntax: "<color>";
  inherits: false;
  initial-value: unset;
}

:root {
  --main-font: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  --accented-font: Dosis, sans-serif-condensed, "fallback for Dosis", sans-serif;

  --corner-radius: 15px;

  --background-color: #fff;
  --background-color: light-dark(#fff, #1E1E1E);
  --text-color: #000;
  --text-color: light-dark(#000, #fff);

  --blue-background-color: oklch(94% 2.7% 241);
  --light-blue-background-color: oklch(98% 2.7% 241);
  --dark-blue-background-color: oklch(30% 2.7% 241);
  --blue-background-color: light-dark(#dbedfb, #4b4d4f);

  --accent-color: oklch(60% 0.155 147);
  --accent-color-darker: oklch(44% 0.127 147);
  --accent2-color: oklch(60% 0.112 55.497);
  --accent3-color: oklch(71% 0.197 46.756);

  --border-top-image: asset-url("images", "border-top.svg");
  --border-bottom-image: asset-url("images", "border-bottom.svg");
  --hr-border-image: asset-url("images", "horizontal-rule.svg");

  --trees: asset-url("images", "trees.svg");

  /* layout measures */
  --root: clamp(max(1em, 20px), 1.2em + 0.5vw, 2em);
  --line-height: 1.5;
  --smaller: 0.8em;
  --line: calc(1rem * var(--line-height));
  --measure: 84ch;
  --gap: 1rem;
  --half-gap: calc(var(--gap) / 2);
  --shim: calc(var(--gap) / 4);
  --half-shim: calc(var(--shim) / 2);
  --spacer: clamp(
    var(--gap) * 1.5,
    var(--gap) + 4vw,
    min(var(--gap) * 6, 20vmin)
  );

  font-size: 100%;
  color-scheme: dark light;
  accent-color: var(--accent-color);
  interpolate-size: allow-keywords;
}

@view-transition {
  navigation: none;
}

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }

  /* enable transitions */
  [popover], dialog, ::backdrop {
    transition: display 300ms allow-discrete,
    overlay 300ms allow-discrete,
    opacity 300ms;
    opacity: 0;
  }

  /* IN */
  :popover-open,
  :popover-open::backdrop,
  [open],
  [open]::backdrop {
    opacity: 1;
  }

  /* OUT */
  @starting-style {
    :popover-open,
    :popover-open::backdrop,
    [open],
    [open]::backdrop {
      opacity: 0;
    }
  }
}

html {
  --margin: var(--gap, 1em);
  --inset: var(--gap, 1em);
  --outset: 0px;

  block-size: 100%;
}

@media (min-width: 40em) {
  html {
    --margin: var(--spacer, 2em);
    --outset: calc(var(--inset) * -1);
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  background-color: light-dark(var(--light-blue-background-color), var(--dark-blue-background-color));
  font-family: var(--main-font);
  letter-spacing: 0;
  line-height: 1.5;
  font-kerning: normal;
  font-variant-numeric: lining-nums slashed-zero;
  font-variant-ligatures: common-ligatures contextual;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum",
  "zero";
  font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  scroll-behavior: smooth;
}

body {
  --wide: 100vw - 30em;

  box-sizing: border-box;
  min-block-size: 100%;
  container-type: inline-size;

  display: grid;
  row-gap: var(--spacer);
  grid-template-columns:
    [full-start] var(--margin)
    [page-start] minmax(0, 0.5fr)
    [extra-start] minmax(0, 1fr)
    [wide-start] minmax(0, clamp(0px, var(--wide), var(--spacer, 3em)))
    [main-start] minmax(12ch, var(--measure))
    [main-end] minmax(0, clamp(0px, var(--wide), var(--spacer, 3em)))
    [wide-end] minmax(0, 1fr)
    [extra-end] minmax(0, 0.5fr)
    [page-end] var(--margin)
    [full-end];
}

:where(body) > * {
  grid-column: var(--body-column, wide);
  margin-block: 0;
}

@media (max-width: 30em) {
  body {
    overflow-wrap: break-word;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--accented-font);
  font-weight: 600;
}

h2 {
  font-size: 1.9em;
  text-transform: uppercase;
}

hr {
  margin: 2em 0 1em;
  height: 6px;
  border: 0;
  background-image: var(--hr-border-image);
}

/* enable transitions */
[popover], dialog, ::backdrop {
  transition: display 300ms allow-discrete,
  overlay 300ms allow-discrete,
  opacity 300ms;
  opacity: 0;
}

/* IN */
:popover-open,
:popover-open::backdrop,
[open],
[open]::backdrop {
  opacity: 1;
}

/* OUT */
@starting-style {
  :popover-open,
  :popover-open::backdrop,
  [open],
  [open]::backdrop {
    opacity: 0;
  }
}

a.cta {
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
  text-transform: uppercase;
  font-variant-caps: titling-caps;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-decoration: none;
  padding: 0.75rem clamp(1em, 4vw, 2rem);
  color: #fff;
  background-color: var(--accent-color);
  border-radius: var(--corner-radius);
  margin: 1em 0;

  &:hover {
    background-color: var(--accent-color-darker);
  }
}

main, section, body > header, body > footer {
  scroll-margin-block-start: 5em;
}

main {
  --body-column: full;
  display: grid;
  grid-template-columns: subgrid;
  row-gap: 4em;

  background-repeat: no-repeat;
  background-position:
    20% 13%,
    4% 30%,
    100% 42%,
    62% 60%,
    125% 80%,
    125% 28%,
    14% 75%;
  background-size: 40%, 20%, 30%, 42%, 33%, 28%, 48%;

  background-image:
    asset-url("images", "cloud-1-l.svg"),
    asset-url("images", "cloud-1-l.svg"),
    asset-url("images", "cloud-1-l.svg"),
    asset-url("images", "cloud-1-l.svg"),
    asset-url("images", "cloud-1-l.svg"),
    asset-url("images", "cloud-1-l.svg"),
    asset-url("images", "cloud-1-l.svg");

  @media (prefers-color-scheme: dark) {
    background-image:
      asset-url("images", "cloud-1-d.svg"),
      asset-url("images", "cloud-1-d.svg"),
      asset-url("images", "cloud-1-d.svg"),
      asset-url("images", "cloud-1-d.svg"),
      asset-url("images", "cloud-1-d.svg"),
      asset-url("images", "cloud-1-d.svg"),
      asset-url("images", "cloud-1-d.svg");
  }

  > * {
    grid-column: var(--main-column, main);
  }
}

body > header {
  --body-column: full;
  grid-row: 1;
  place-self: start stretch;

  position: sticky;
  inset-block-start: -1px;
  z-index: 1000;

  display: grid;
  grid-template-columns: inherit;
  align-items: center;

  > * {
    grid-row: 1;
  }

  &.is-pinned {
    --text-color: revert;
    background-image: unset;
    background-color: color-mix(in srgb, var(--background-color), transparent 15%);
    backdrop-filter: blur(4px);
  }

  h1 {
    line-height: 1;
    margin: 0.25em 0;
    grid-column: extra;
    position: relative;
    height: 100%;
  }

  h1 a {
    --logo-color: var(--text-color);
    position: absolute;
    top: 0.125em;
    display: flex;
    transition: --logo-color 200ms ease-in-out;

    &:hover {
      --logo-color: var(--accent3-color);
    }
  }

  h1 svg {
    width: auto;
  }

  > div {
    grid-column: main;
    padding-block: 0.25em;
  }

  p {
    color: var(--text-color);
  }

  nav {
    grid-column: extra;
    justify-self: end;
    width: max-content;

    button {
      display: inline-flex;
      align-items: center;
      gap: 1em;
      text-transform: uppercase;
      border: 2px solid var(--text-color);
      background-color: transparent;
      line-height: 1.9;
    }
  }
}

.is-hp > header {
  /* force white color on top of hero */
  --text-color: #fff;
  background-image: linear-gradient(180deg, oklch(0 0 0 / 0.7) 75%, oklch(0 0 0 / 0.0));
  background-color: transparent;
  transition: background-color 300ms ease-in;
}

.hamburger {
  cursor: pointer;
  display: inline-block;
  height: 32px;
  position: relative;
  width: 36px;
  border: none;
  border-radius: 3px;
  padding: 0;

  &:hover {
    background-color: var(--accent3-color);
  }

  .hamburger__bar {
    background-color: var(--text-color);
    position: absolute;
    height: 3px;
    width: 24px;
    left: 6px;
    transition: transform 400ms;
  }

  .hamburger__bar:first-of-type {
    transform: translateY(-7px);
  }

  .hamburger__bar:last-of-type {
    transform: translateY(7px);
  }

  &:active {
    .hamburger__bar:first-of-type {
      transform: rotate(-45deg);
    }

    .hamburger__bar:nth-of-type(2) {
      opacity: 0;
    }

    .hamburger__bar:last-of-type {
      transform: rotate(45deg);
    }
  }
}

.header__time {
  font: clamp(1.25rem, 0.5833rem + 2.2222vw, 1.75rem) var(--accented-font);
  margin: 0;
  text-align: center;
  text-wrap: nowrap;
  font-weight: 700;
}

.header__location {
  font-size: clamp(0.625rem, 0.3583rem + 0.8889vw, 0.825rem);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  text-wrap: balance;
}

section h2 {
  text-align: center;
}

section p {
  text-align: center;
  text-wrap: pretty;
  font-size: 1.125em;
  max-width: 34em;
  margin: 0.5em auto 1em;
}

.hero {
  --body-column: full;
  --text-color: white;
  --hero-bg: var(--hero-bg-small);
  @media screen and (min-width: 480px) {
    --hero-bg: var(--hero-bg-medium);
  }
  @media screen and (min-width: 1280px) {
    --hero-bg: var(--hero-bg-big);
  }

  color: var(--text-color);
  text-align: center;
  text-transform: uppercase;
  background: #1E1E1E var(--hero-bg) no-repeat;
  background-position: center top;
  background-size: cover;

  grid-row: 1;
  display: grid;
  row-gap: 2em;
  padding-inline: 1em;

  min-height: 100svh;
  min-height: 100cqh;

  hgroup:has(h2) {
    justify-self: center;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: radial-gradient(ellipse farthest-side at center, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
    background-size: contain;
  }

  h2 {
    width: max-content;
    margin-block-start: 4em;
  }

  p {
    font-family: var(--accented-font);
    font-weight: 700;
    width: max-content;
    padding: 0.5em 1em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: radial-gradient(closest-side at center, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
    background-size: contain;
  }

  ol {
    display: block;
    margin-block: 0;
    margin-inline: auto;
    padding: 2em 0;
    max-width: 30ch;
    text-wrap: balance;
    list-style-type: none;
    font-family: var(--accented-font);
    line-height: 1.25;
    font-weight: 600;
    font-size: clamp(1.75rem, 6vw, 3rem);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: radial-gradient(ellipse farthest-side at center, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
    background-size: contain;

    li {
      display: inline;
      line-break: strict;

      &[data-level="1"] {
        font-size: 1.45em;
      }

      &[data-level="3"] {
        font-size: 0.75em;
        font-weight: 500;
      }
    }

    li[data-level="2"] + li[data-level="2"]::before,
    li[data-level="3"] + li[data-level="3"]::before {
      content: "•";
      display: inline;
      padding-inline: 0.25em 0.4em;
    }

    li[data-level="1"] + li[data-level="2"]::before,
    li[data-level="2"] + li[data-level="3"]::before {
      content: "\a";
      white-space: pre;
    }

    a {
      color: var(--text-color);
      text-decoration: none;
      text-decoration-thickness: 0;
      transition: color 300ms ease-in,
      text-decoration 300ms allow-discrete,
      text-decoration-thickness 300ms ease-in;
    }

    a:hover, a:focus {
      color: var(--accent3-color);
      text-decoration: underline;
      text-decoration-thickness: 4px;
    }

    @starting-style {
      a {
        text-decoration: underline;
        text-decoration-thickness: 1px;
      }
    }
  }

  .cta {
    font-size: larger;
  }
}

.smap {
  width: 100%;
  max-width: 648px;
  height: 386px;
  font-family: var(--main-font);
}

#mapa {
  scroll-margin-block-start: 5em;

  .is-hp & h2 {
    text-align: center;
  }
}

.news-list {
  --columns: 2;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: masonry;
  grid-auto-flow: dense;
  gap: 1em;

  @media screen and (min-width: 801px) {
    --columns: 4;
  }

  header {
    grid-column: span var(--columns);
  }

  h2 {
    text-align: center;
    margin: 0;
  }

  .cta {
    place-self: center;
    grid-column: span var(--columns);
  }

  article {
    background-color: var(--blue-background-color);
    border-radius: var(--corner-radius);

    padding: 10px;
    grid-row: span 4;

    a {
      container-type: inline-size;
      display: grid;
      grid-auto-flow: row;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    img {
      --border-radius: calc(var(--corner-radius) / 2);
      width: 100%;
      height: auto;
      border-radius: var(--border-radius);
      clip-path: inset(0 0 8% 0 round var(--border-radius));
      order: 1;
    }

    time {
      font-family: var(--accented-font);
      font-weight: 700;
      line-height: 1.2;
      z-index: 1;
      order: 2;
    }

    p {
      text-align: left;
    }
  }

  article:first-of-type {
    grid-column: 1 / 3;
    grid-row: span 8;
  }

  article + article p {
    font-size: 1em;
    max-height: 7.5em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.artists-list {
  --columns: 2;
  --colspan: 1;

  container-type: inline-size;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 1em;

  @media screen and (min-width: 481px) {
    --columns: 4;
    --colspan: 2;
  }
  @media screen and (min-width: 840px) {
    --columns: 6;
  }

  header {
    grid-column: span var(--columns);
  }

  h2 {
    margin: 0;
  }

  article {
    grid-column: span var(--colspan);

    scroll-margin-block-start: 5em;
    border-radius: var(--corner-radius);

    container-type: inline-size;
    display: grid;
    overflow: hidden;

    &:target {
      border: 1px solid var(--accent3-color);
    }

    &[data-level="1"] {
      --colspan: 2;
    }

    h3 {
      font-size: clamp(1.25em, 4vw, 1.75em);
      font-weight: 700;
      line-height: 1.25;
      text-transform: uppercase;
      text-shadow: 1px 1px #333;
      text-align: center;
      text-wrap: balance;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.43) 100%) 50% / cover no-repeat;
      color: #fff;
      margin: 0;
      grid-area: 1/1;
      width: calc(100% - 2em);
      padding-inline: 1em;
      padding-block: 0.25em;
      z-index: 10;
      place-self: end center;
    }

    img {
      grid-area: 1/1;
      width: 100%;
      height: auto;
      transition: scale 500ms cubic-bezier(.5, -.25, .75, 1);

      &:hover {
        scale: 1.1;
      }
    }
  }
}

.lineup {
  --_day-gap: 1lh;
  @container (width > 864px) {
    --main-column: wide;
    --_day-gap: 0;
    .lineup__days {
      display: grid;
      grid-template: "fr sa" / 1fr 1fr;
      gap: 2em;
    }
  }

  .lineup__days > div {
    display: grid;
    grid-template-columns: 4.5ch 1fr auto;
    height: fit-content;
    column-gap: 1ch;
  }

  .lineup__days > div + div {
    margin-block-start: var(--_day-gap);
    grid-area: sa;
  }

  .lineup__days h3 {
    grid-column: span 3;
    margin-block-end: 0.5lh;
  }

  .lineup__item {
    display: grid;
    grid-column: span 3;
    grid-template-columns: subgrid;
    font-size: 1.5em;
    align-items: baseline;
    padding-block: 0.25em;

    time, small {
      font-family: var(--accented-font);
    }

    time {
      font-size: 1rem;
    }

    strong {
      font-family: var(--accented-font);
      flex-grow: 2;
      font-size: 1.3rem;
      text-wrap: balance;
      text-transform: uppercase;
    }

    small {
      font-size: 0.8em;
      font-variant-caps: all-petite-caps;
      text-align: end;
      text-transform: uppercase;
    }

    small.outlook {
      color: var(--accent-color);
    }

    small.tent {
      color: var(--accent3-color);
    }
  }

  .lineup__item + .lineup__item {
    border-top: 2px solid var(--text-color);
  }
}

.tickets__list {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  gap: 1em;

  .tickets__item {
    --text-color: #000;
    --background-color: var(--blue-background-color);
    position: relative;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--accent-color);
    padding: 1em;
    border-radius: 5px;
    max-width: 9.2em;

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-image: linear-gradient(90deg, transparent 50%, var(--background-color) 50%);
      left: -15px;
      top: calc(50% - 15px);
    }

    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-image: linear-gradient(90deg, var(--background-color) 50%, transparent 50%);
      right: -15px;
      top: calc(50% - 15px);
    }

    &.tickets__item--disabled {
      filter: saturate(0);

      a {
        pointer-events: none;
      }

      .button {
        opacity: 0.3;
      }
    }

    &.tickets__item--oneday {
      padding-inline: 1.75em;
    }

    &.tickets__item--onsite {
      background-color: var(--accent3-color);
      padding-inline: 3.25em;
    }

    &.tickets__item--parking {
      background-color: var(--accent2-color);
      padding-inline: 2.25em;
    }

    h3, p {
      margin: 0;
      color: var(--text-color);
    }

    p {
      font-size: initial;
    }

    p:nth-of-type(2n) {
      font-size: larger;
      font-weight: bold;
      line-height: 2;
      text-transform: none;
    }

    a:any-link {
      text-decoration: none;
    }

    .button {
      --background-color: #fff;
      background-color: var(--text-color);
      color: var(--background-color);
      display: block;
      text-decoration: none;
      font-weight: bold;
      line-height: 2;
      border-radius: 5px;

      &:hover {
        background-color: color-mix(in hsl, var(--text-color) 100%, white 20%);
      }

      &:active {
        background-color: color-mix(in hsl, var(--text-color) 100%, black 20%);
      }
    }
  }
}

.tickets__free {
  margin-block: 3em;
  text-align: center;

  h3 {
    margin: 0;
    position: relative;
    font-size: 1.75em;
    text-shadow: 1px 1px var(--background-color);
    text-transform: uppercase;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: asset-url("images", "heading-bg.svg") no-repeat center;
      @media (prefers-color-scheme: dark) {
        opacity: 0.6;
      }
    }
  }

  p {
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

body > footer {
  --body-column: full;
  background-color: var(--blue-background-color);
  max-width: 100%;
  padding-block-start: 2em;
  display: grid;
  grid-template-columns: subgrid;

  > * {
    grid-column: var(--footer-column, extra);
  }

  > p {
    text-align: center;
  }

  &::after {
    grid-column: full;
    content: "";
    display: block;
    width: 100%;
    height: 200px;
    border-bottom: 2px solid var(--accent2-color);
    background-image: var(--trees), linear-gradient(0deg, var(--accent2-color), transparent 20%);
    background-repeat: repeat-x;
    background-position: bottom center;
    background-size: cover;
    @media (min-width: 1024px) {
      background-size: contain;
    }
  }

  a:any-link {
  }
}

.footer__contacts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  gap: 1em;

  h2:first-of-type, h3:first-of-type {
    text-align: left;
    margin-top: 0;
  }

  h3 {
    font-size: 1.75em;
    margin: 0;
  }

  p {
    font-size: revert;
    text-align: left;
    max-width: revert;
    margin: 0 0 0.5em;
  }
}

.footer__social-icons {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 1em;

    @media screen and (min-width: 800px) {
      flex-direction: row-reverse;
    }
  }

  svg {
    width: 38px;
    height: 38px;
  }
}

#logo {
  height: clamp(2.625rem, 1.9107rem + 2.381vw, 3.25rem);
}

#menu {
  text-align: center;
  font: 600 2em/2 var(--accented-font);
  text-transform: uppercase;
  text-shadow: 1px 1px #333;
  background-color: transparent;
  border: none;

  &::backdrop {
    background: oklch(0.116 0.012 345.039 / 0.77);
    backdrop-filter: blur(12.5px);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  a {
    padding: 0.5em 1em;
    color: white;
    text-decoration: none;
    text-decoration-thickness: 0;
    transition: color 300ms ease-in,
    text-decoration 300ms allow-discrete,
    text-decoration-thickness 300ms ease-in;
  }

  a:hover {
    color: var(--accent3-color);
    text-decoration: underline;
    text-decoration-thickness: 4px;
  }

  @starting-style {
    a {
      text-decoration: underline;
      text-decoration-thickness: 1px;
    }
  }
}

#vstupenky,
#informace-a-upozorneni {
  --background-image: asset-url("images", "wood.svg");

  max-width: 100%;
  margin-inline: 0;
  padding: 3em 2em;
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--corner-radius);

  @media (prefers-color-scheme: dark) {
    --background-image: asset-url("images", "wood-dark.svg");
  }

  h2 {
    color: var(--accent3-color);
    @media (prefers-color-scheme: dark) {
      text-shadow: 1px 1px #1e1e1e;
    }
  }
}

.pardubicky-kraj {
  mix-blend-mode: darken;
}



