@property --border-top-image {
  syntax: "<image>";
  inherits: true;
}

@property --border-bottom-image {
  syntax: "<image>";
  inherits: true;
}

:root {
  --main-font: 16px Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  --accented-font: Bangers, 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;

  --corner-radius: 15px;

  --background-color: #fff;
  --text-color: #000;
  --accent-color: #27933F;
  --accent2-color: #0C6523;

  --border-top-image: asset-url("images", "border-top.svg");
  --border-bottom-image: asset-url("images", "border-bottom.svg");
  --hr-border-image: asset-url("images", "horizontal-rule.svg");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1E1E1E;
    --text-color: #fff;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);
  font: var(--main-font);
  letter-spacing: 0;
  line-height: 1.5;
  font-kerning: normal;
  font-variant-numeric: lining-nums slashed-zero;
  font-variant-ligatures: common-ligatures contextual;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum",
  "zero";
  font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  margin: 0 16px;
}

h1, h2, h3 {
  font-family: var(--accented-font);
  font-weight: normal;
}

h2 {
  font-size: 1.9em;
}

hr {
  margin: 2em 0 1em;
  height: 6px;
  border: 0;
  background-image: var(--hr-border-image);
}

a.cta {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  padding: 0.6em 2em;
  color: #fff;
  background-color: var(--accent-color);
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-decoration: none;
  line-height: 2;
  margin: 1em 0;

  &::before {
    content: "";
    position: absolute;
    top: -9px;
    left: 8px;
    width: calc(100% - 14px);
    height: calc(100% + 20px);
    background: asset-url("images", "cta-bg.svg") no-repeat;
    background-size: contain;
    transition: transform 200ms ease-in-out;
  }

  &:hover {
    background-color: var(--accent2-color);
    &::before {
      transform: scaleX(-1);
    }
  }
}

main, section, body > header, body > footer {
  max-width: 61.25em;
  margin: 0 auto;
}

body > header {
  --logo-color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    height: 74px;
    width: 166px;
    display: flex;
    gap: 0.5em;
    line-height: 1;
    align-items: center;
    font-size: 1.5em;
  }

  h1 svg {
    height: 74px;
    width: auto;
    flex-grow: 1;
  }

  nav {
    width: 166px;
    text-align: right;

    button {
      display: inline-flex;
      align-items: center;
      gap: 1em;
      text-transform: uppercase;
      border: 2px solid var(--text-color);
      background-color: transparent;
      line-height: 1.9;
    }
  }
}

.header__time {
  font: 1.75em var(--accented-font);
  margin: 0;
  text-align: center;
}

.header__location {
  font-size: 0.825em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

section h2 {
  text-align: center;
}

section p {
  text-align: center;
  text-wrap: pretty;
  font-size: 1.125em;
  max-width: 34em;
  margin: 0.5em auto 1em;
}



.smap {
  width: 100%;
  max-width: 648px;
  height: 386px;
  font: var(--main-font);
}

.news-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(17, 1fr);
  @media screen and (min-width: 801px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  grid-auto-flow: dense;
  gap: 1em;

  header {
    grid-column: span 2;
  }

  h2 {
    text-align: left;
    margin: 0;
  }

  .cta {
    place-self: center;
    grid-column: span 2;
    @media screen and (min-width: 801px) {
      grid-column: span 4;
    }
  }

  article {
    container-type: inline-size;
    container-name: --news;
    border-radius: var(--corner-radius);
    background-color: #000;
    color: #fff;
    padding: 10px;
    grid-row: span 4;

    a {
      display: grid;
      grid-auto-flow: row;
      filter: saturate(0.3);
      transition: filter 200ms ease-in-out;
      text-decoration: none;

      &:hover {
        filter: saturate(1);
      }
    }

    img {
      width: 100%;
      height: auto;
      clip-path: xywh(0 0 100% 92% round 15px);
      z-index: -1;
      order: 1;
      border-radius: var(--corner-radius);
    }

    time {
      font-family: var(--accented-font);
      font-weight: 700;
      line-height: 1.2;
      color: #fff;
      z-index: 1;
      order: 2;
    }

    p {
      text-align: left;
    }
  }

  article:first-of-type {
    grid-column: 1 / 3;
    grid-row: span 7;
  }

  article+article p {
    font-size: 1em;
    max-height: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.artists-list {
  container-type: inline-size;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media screen and (min-width: 481px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (min-width: 840px) {
    grid-template-columns: repeat(6, 1fr);
  }
  gap: 1em;

  header {
    grid-column: span 2;
  }
  h2 {
    text-align: left;
    margin: 0;
  }

  article {
    grid-column: span 2;
    grid-row: span 4;

    container-type: inline-size;
    display: grid;
    grid-auto-flow: row;

    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: var(--corner-radius);

    h3 {
      font-size: 1.75em;
      font-weight: 500;
      line-height: 1.35;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.43) 100%) 50% / cover no-repeat;
      color: #fff;
      margin: 0;
      order: 3;
    }
    img {
      order: 1;
      width: 100%;
      height: auto;
      transition: scale 300ms ease-in-out;
      border-radius: var(--corner-radius);
    }
    p {
      color: rgba(255, 255, 255, 0.77);
      font-size: 0.75em;
      font-weight: 800;
      text-align: left;
      margin: 0.75em 0;
      order: 2;
    }

    &:first-of-type {
      grid-row-start: 2;
      grid-row-end: 6;
    }
    @container (min-width: 449px) {
      &:nth-of-type(2) {
        grid-row-end: 4;
      }
    }
    @container (min-width: 808px) {
      &:nth-of-type(3) {
        grid-row-start: 1;
        grid-row-end: 5;
      }
    }
  }
}

.tickets__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9.2em, 1fr));
  gap: 1em;

  .tickets__item {
    --text-color: #000;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--accent-color);
    padding: 1em;

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: var(--background-color);
      left: -15px;
      top: calc(50% - 15px);
    }

    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: var(--background-color);
      right: -15px;
      top: calc(50% - 15px);
    }

    &--disabled {
      filter: saturate(0);

      a.button {
        pointer-events: none;
        opacity: 0.3;
      }
    }

    h3, p {
      margin: 0;
      color: var(--text-color);
    }

    p {
      font-size: initial;
    }

    p + p {
      font-size: larger;
      font-weight: bold;
      line-height: 2;
    }

    .button {
      --background-color: #fff;
      background-color: var(--text-color);
      color: var(--background-color);
      display: block;
      text-decoration: none;
      font-weight: bold;
      line-height: 2;
    }
  }
}

.tickets__free {
  margin: 2em 0;
  text-align: center;

  h3 {
    font-size: 1.75em;
    margin: 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: asset-url("images", "heading-bg.svg") no-repeat center;
      @media (prefers-color-scheme: dark) {
        opacity: 0.6;
      }
    }
  }

  p {
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

.footer__contacts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  gap: 1em;

  h2:first-of-type, h3:first-of-type {
    margin-top: 0;
  }

  p {
    font-size: revert;
    text-align: left;
    max-width: revert;
    margin: revert;
  }
}

