{% extends 'layouts/master.njk' %}
{% set title = "Historie" %}

{% set bgImage = collections.images["history-bg.jpg"]  %}

{% block head_preconnect %}
{% endblock %}

{% block head_stylesheets %}
  <style>
    .main {
      display: grid;
      grid-template: "aside" "article";
      gap: 1em;
      align-items: start;
    }

    .main aside {
      grid-area: aside;
      min-width: clamp(8rem, 2.6667rem + 17.7778vw, 12rem);
      font: clamp(1rem, 0.6667rem + 1.1111vw, 1.25rem) var(--accented-font);
    }

    .main article {
      background-color: var(--background-color);
      border-radius: var(--corner-radius);
      padding-inline: 1em;
    }

    @media screen and (min-width: 481px) {
      .main {
        grid-template: "aside article";
        grid-template-columns: clamp(8rem, 2.6667rem + 17.7778vw, 12rem) 1fr;
      }

      .main aside {
        position: sticky;
        top: 4em;
      }
    }

    .main aside ol {
      list-style-type: none;
      margin: 0.8em 0 0;
      padding: 0;
    }

    .main aside ol li {
      padding: 0.3em 0;
      text-wrap: balance;
    }

    main > hgroup {
      color: #fff;
      grid-column: wide;
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      aspect-ratio: 1.91;
      padding-inline: 2em;
      border-radius: var(--corner-radius);
      position: relative;
    }

    main > hgroup::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
      border-radius: var(--corner-radius);
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.0) 33%),
      url("{{ bgImage.public_id | cloudinaryUrl() }}");
      background-repeat: no-repeat;
      background-size: cover;
    }

    main > hgroup > * {
      z-index: 2;
    }

    main > hgroup > h2 {
      margin-block: 0;
    }
  </style>
{% endblock %}

{% block content %}
  <main>
    <hgroup style="--lqip: {{ bgImage.metadata.lqip }}">
      <h2>Historie</h2>
      <p>Od prvního setkání stovky známých ve Studnicích až po vyprodané ročníky v lese na Cihelce. Připomeňte si příběh festivalu, který už přes dvacet let tvoří kapely, návštěvníci, dobrovolníci a trochu punkový přístup pořadatelů.</p>
    </hgroup>
    <div class="main">
      <article>
        {% markdown "historie/text.md" %}
      </article>
      <aside>
        <nav aria-label="Obsah stránky">
          <ol>
            <li><a href="#studnice-fest-2026">2026</a></li>
            <li><a href="#studnice-fest-2025">2025</a></li>
            <li><a href="#studnice-fest-2024">2024</a></li>
            <li><a href="#studnice-fest-2023">2023</a></li>
            <li><a href="#studnice-fest-2022">2022</a></li>
            <li><a href="#studnice-fest-2021">2021</a></li>
            <li><a href="#studnice-fest-2020">2020</a></li>
            <li><a href="#studnice-fest-2019">2019</a></li>
            <li><a href="#studnice-fest-2018">2018</a></li>
            <li><a href="#studnice-fest-2017">2017</a></li>
            <li><a href="#studnice-fest-2004-2012">2004-2012</a></li>
            <li><a href="#studnice-fest-2003">2003</a></li>
          </ol>
        </nav>
      </aside>
    </div>
  </main>
{% endblock %}

{% block scripts %}
  <script type="module" src="{{ "historie.js" | assetUrl("esm") }}"></script>
{% endblock %}
