{%- from 'macros/helpers.njk' import sprite, spriteTarget -%}
<!doctype html>
<html lang="cs">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ title }}{% endblock %}</title>
  <link rel="stylesheet" href="{{ 'index.css' | assetUrl('stylesheets') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="{{ 'manifest.json' | assetUrl('static') }}">
  {% include "shared/app-icons.html" %}
  {% block head %}{% endblock %}
</head>
<body vocab="https://schema.org" typeof="Festival">
<link property="eventStatus" href="https://schema.org/EventScheduled"/>
<header>
  <h1 property="name">Studnice Fest</h1>
  <p>
    <time property="startDate" datetime="2024-07-26">26.</time>
    -
    <time property="endDate" datetime="2024-07-27">27. 7. 2024</time>
  </p>
  <p property="location">Cihelka, Hlinsko v Čechách</p>
</header>
{% block content %}{% endblock %}
<footer>
  <section id="mapa">
    <header>
      <h2>Mapa</h2>
    </header>
    <p>Studnice Fest 2024&nbsp;se bude konat na tradičním místě, v&nbsp;areálu Cihelka
      <strong>(A)</strong> na okraji Hlinska v&nbsp;Čechách. V&nbsp;těsné blízkosti
      areálu budou vyhrazené prostory k&nbsp;parkování <strong>(P)</strong>
      i&nbsp;stanování <strong>(S)</strong>.</p>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
          integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin>
    <div id="map" style="width: 648px; height: 386px"></div>
  </section>
  <hr>
  <section>
    <h2>Kontakty</h2>
    <p>Potřebujete kontaktovat pořadatele?</p>
  </section>
</footer>
{% block javascript %}
{% endblock %}
<script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
        integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin></script>
<script type="module">
  import { html } from "https://cdn.jsdelivr.net/npm/uhtml/node.js";

  const API_KEY = "S9n6dfE_8AfjsNvRxSwAmFV4-1z5tfk5W7IUajp2D3I";
  const map = L.map("map", { center: [49.752936007489765, 15.930369570851326], zoom: 16 });
  L.tileLayer(`https://api.mapy.cz/v1/maptiles/outdoor/256/{z}/{x}/{y}?apikey=${API_KEY}`, {
    minZoom: 0,
    maxZoom: 19,
    detectRetina: true,
    attribution: `<a href="https://api.mapy.cz/copyright" target="_blank">&copy; Seznam.cz a.s. a další</a>`,
  }).addTo(map);
  const LogoControl = L.Control.extend({
    options: { position: "bottomleft" },
    onAdd(map) {
      return html`
        <div>
          <a href="https://mapy.cz/" target="_blank" @click=${e => e.stopPropagation()}>
            <img alt="Mapy.cz" src="https://api.mapy.cz/img/api/logo.svg"></a>
        </div>`
    },
  })
  new LogoControl().addTo(map);
  L.marker([49.753234071335086, 15.930165722966194], { alt: "A", title: "Areál Cihelka" }).addTo(map);
  L.marker([49.7526861, 15.9341575], { alt: "P", title: "Parkoviště" }).addTo(map);
  L.marker([49.7529775, 15.9336425], { alt: "S", title: "Stanování" }).addTo(map)
</script>
{{ spriteTarget() }}
</body>
</html>
