<link rel="preload" href="{{ "caveat-brush-regular.latin.woff2" | assetUrl("fonts") }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "cta-bg.svg" | assetUrl("images") }}" as="image">
<link rel="preload" href="{{ "heading-bg.svg" | assetUrl("images") }}" as="image">
<link rel="preload" href="{{ "horizontal-rule.svg" | assetUrl("images") }}" as="image">
<style>
  @font-face {
    font-family: 'Caveat Brush';
    font-style: normal;
    font-display: swap;
    /* TODO: use asset-url() CSS helper when postcss-html lands in Blendid */
    src: url({{ "caveat-brush-regular.latin.woff2" | assetUrl("fonts") }}) format("woff2");
    unicode-range: U+0-FF, U+131, U+152, U+153, U+2BB, U+2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Caveat Brush';
    font-style: normal;
    font-display: swap;
    src: url({{ "caveat-brush-regular.latin-ext.woff2" | assetUrl("fonts") }}) format("woff2");
    unicode-range: U+0100-0101, U+0104-0130, U+0132-0151, U+0154-017F, U+018F, U+0192, U+01A0-01A1, U+01AF-01B0, U+01FA-01FF, U+0218-021B, U+0237, U+0259, U+1E80-1E85, U+1E9E, U+20A1, U+20A4, U+20A6, U+20A8-20AA, U+20AD-20AE, U+20B1-20B2, U+20B4-20B5, U+20B8-20BA, U+20BD, U+20BF;
  }
</style>
